USE [master]
GO
/****** Object:  Database [ESCUELA]    Script Date: 04/03/2021 16:36:14 ******/
CREATE DATABASE [ESCUELA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ESCUELA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ESCUELA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ESCUELA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ESCUELA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ESCUELA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ESCUELA]
GO
/****** Object:  Table [dbo].[Alumnos]    Script Date: 04/03/2021 16:36:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumnos](
	[idAlu] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profesores]    Script Date: 04/03/2021 16:36:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profesores](
	[IdProfe] [int] NULL,
	[NomProfe] [varchar](50) NULL,
	[FechaIngreso] [datetime] NULL
) ON [PRIMARY]
GO
USE [master]
GO
